//- includes/navbar.pug
- var navClasses = ['navbar', 'navbar-expand-sm', 'bg-dark', 'navbar-dark', 'fixed-top', 'mb-5']
nav(class=navClasses)
    .container-fluid
        // BRAND INFO (LOGO & TITLE)
        a(href='#' class=['navbar-brand']).
            #[img(src='/images/brand.png' alt="img brand" style="width:40px;" class=['rounded-pill'])]
            Title Test
        
        // COLLAPSE BUTTON
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        
        // NAVEGATION LINKS
        - var divLinkClasses = ['collapse', 'navbar-collapse', 'justify-content-end']
        div(class=divLinkClasses, Id='navbarNav')
            - var navUlLinkClasses = ['navbar-nav', 'd-flex', 'gx-5']
            - var navLiLinksClases = ['nav-item', 'px-3']
            - var navALinkClasses = ['nav-link', 'active']
            ul(class=navUlLinkClasses)
                li(class=navLiLinksClases)
                    a(class=navALinkClasses data-bs-toggle="offcanvas" data-bs-target="#offcanvasLogin" aria-controls="offcanvasWithBackdrop") Login
            ul(class=navUlLinkClasses)
                li(class=navLiLinksClases)
                    a(class=navALinkClasses href='#' data-bs-toggle="offcanvas" data-bs-target="#offcanvasSignin" aria-controls="offcanvasWithBackdrop") Register
            ul(class=navUlLinkClasses)
                li(class=navLiLinksClases)
                    button(class=['btn','btn-warning']) Enter Code